

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.secondary-bg{
    background-color: #FFF8F3 ;
}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{

    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}

/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-content{
    width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}
.banner-tittle{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-img{
    width: 584px;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 106px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20;
    font-weight: 400;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;

}


